body{
	/*background-color: #7DCD85;*/
}
.adbar, footer, #featured{
	background-color: #7DCD85;
}
#jumbotron, #featured{
	padding: 30px;
}
#about{
	background-color: #fff;
}
.featured-inner{
	background-color: #fff;
	padding-bottom: 20px;
}
footer a:link{
	color: #fff;
}
.widesearch{
	width: 600px;
}
.breadcrumb{
	padding: 10px 0px;
}